bin/*
*.o
*.dep
.cproject
.project
config.opts
config.mk
config.mak
configure.log
src/compiler/compsl.output
src/compiler/compsl.tab.c
src/compiler/compsl.tab.ddp
src/compiler/compsl.tab.h
src/compiler/lex.yy.c
src/compiler/lex.yy.ddp
src/include/compiler/bc_info.h
src/include/intern/bcstrings.h
src/include/intern/config.h
src/interp/jumptbl.h
